* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Orbitron", sans-serif;
}

html {
    font-size: 62.5%;
}

.calculator-container {
    width: 38rem;
    height: 50rem;
    border: 1px solid black;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    background-color: #787276;
    justify-content: space-around;
    border-radius: 1rem;
    margin-top: 10rem;

}
.buttons {
    height: 36rem;
    width: 34rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #787276;
    margin-inline: auto;
}
.button {
    width: 7rem;
    height: 7rem;
    color: white;
    font-size: 6rem;
    text-align: center;
    background-color: #999DA0;
    box-shadow: .3rem .3rem .1rem .1rem ;
    cursor: pointer;

}
.operator {
    background-color: #20B2AA;
}
.clicked {
    background-color: #013220;
}
.display {
    width: 32rem;
    height: 9rem;
    border: 1px solid black;
    margin-inline: auto;
    border-radius: 2rem;
    background-color: #A9BA9D;
    text-align: end;
    padding: 1rem;
    margin-top: 1rem;
    overflow: hidden;
}

.normal {
    font-size: 6rem;
}
.small {
    font-size: 3rem;
}
.equal, .clear {
    background-color: red;
}
.underline {
    text-decoration: underline;
}